@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.button-big {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.page-header {
  background-color: #FFFFFF;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: relative;
  display: block;
  width: 140px;
  margin-right: 44px;
}

.page-header-logo {
  position: absolute;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  outline: none;
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 270px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

.main-menu-link {
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  color: #000000;
}

.main-menu-link:hover,
.main-menu-link:focus {
  outline: none;
  color: #756157;
}

.main-menu-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.main-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: currentColor;
}

.main-menu-icon-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  top: 11px;
  min-width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
  border-radius: 10px;
}

.main-menu-button {
  margin-left: 20px;
  padding: 8px 34px;
  background-color: #756157;
}

.main-menu-button:hover,
.main-menu-button:focus {
  background-color: #615048;
}

.main-menu-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  background-color: #000000;
  margin-bottom: 69px;
  padding: 51px 0 82px;
  background-image: url(../images/divider.png), url(../images/hero-banner.jpg);
  background-position: bottom center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.hero-divider {
  position: absolute;
  bottom: 0;
}

.advantages {
  margin-bottom: 64px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subtitle {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  min-height: 205px;
  padding: 90px 85px;
}

.advantages-item-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
}

.advantages-item.advantages-item-wide {
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-square,
.advantages-item.advantages-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-description {
  margin: 0;
  text-align: center;
}

.advantages-square .advantages-item-description,
.advantages-road .advantages-item-description,
.advantages-tourists .advantages-item-description {
  color: #333333;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 81px 85px;
  width: 230px;
  min-height: 223px;
}

.about-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.about-subtitle {
  margin: 0;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.about-house,
.about-gifts {
  background-color: rgba(131, 179, 211, 0.12);
}

.about-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.about-item-description {
  margin: 0;
  text-align: center;
  color: #333333;
}

.search {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-subtitle {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-link {
  display: block;
  margin: 0 auto;
  background-color: #756157;
}

.search-link:hover,
.search-link:focus {
  background-color: #615048;
}

.search-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.subscribe {
  width: 1200px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-index {
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-subtitle {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
}

.subscribe-email {
  width: 452px;
}

.subscribe-submit {
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
}

.subscribe-submit:hover,
.subscribe-submit:focus {
  outline: none;
  background-color: #68A2CA;
}

.subscribe-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-submit:disabled {
  background-color: #E5E5E5;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 45px 70px 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  position: relative;
  display: block;
  min-width: 24px;
  min-height: 18px;
  padding: 11px 12px;
  color: #83B3D3;;
}

.footer-social-link:hover,
.footer-social-link:focus {
  outline: none;
  color: #68A2CA;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: currentColor;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  outline: none;
  color: #756157;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-copyright-link {
  display: flex;
  align-items: center;
  color: #000000;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
  outline: none;
  color: #756157;
}

.footer-copyright-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright-icon {
  fill: currentColor;
}

.catalog-header-container {
  padding: 35px 70px 70px;
  background-image: url(../images/header-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.2);
}

.inner-header {
  margin-bottom: 40px;
  color: #FFFFFF;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content:"";
  position: absolute;
  top: 5px;
  right: -17px;
  width: 8px;
  height: 11px;
  background-image: url('../images/arrow-right.svg');
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filter-form {
  display: flex;
}

.catalog-filter-infrastructure {
  width: 150px;
  border: none;
}

.catalog-filter-typeofhousing {
  width: 150px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
}

.filter-submit {
  background-color: #82B3D3;
}

.hotels {
  padding: 50px 70px;
}

.sorting-container {
  display: flex;
  margin-bottom: 40px;
}

.hotels-view-list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.hotel-view-item:not(:last-child) {
  margin-right: 8px;
}

.hotel-view-link {
  display: block;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.hotel-view-card-link {
  background-image: url(../images/view-cards.svg);
}

.hotel-view-one-link {
  background-image: url(../images/view-one.svg);
}

.hotel-view-list-link {
  background-image: url(../images/view-list.svg);
}

.hotel-view-link-current {
  border-color: #000000;
}

.hotels-value {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  width: 300px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  display: block;
  grid-column: 1/-1;
  text-decoration: none;
}

.hotel-card-image {
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-name,
.hotel-price {
  margin: 0;
  color: #333333;
}

.hotel-price {
  justify-self: end;
}

.hotel-more-information {
  display: block;
  padding: 8px 26px;
  background-color: #756157;
}

.hotel-more-information:hover,
.hotel-more-information:focus {
  outline: none;
  background-color: #615048;
}

.hotel-more-information:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-add-favorites {
  background-color: #82B3D3;
}

.hotel-add-favorites:hover,
.hotel-add-favorites:focus {
  outline: none;
  background-color: #68A2CA;
}

.hotel-add-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-in-favorites {
  background-color: #7DB54F;
}

.hotel-in-favorites:hover,
.hotel-in-favorites:focus {
  outline: none;
  background-color: #6C9E42;
}

.hotel-in-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-rating-star {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.rating-star {
  width: 18px;
  height: 17px;
}

.rating-star:not(:last-child) {
  margin-right: 6px;
}

.starred {
  background-image: url(../images/star.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.hotel-rating {
  display: block;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
  border-radius: 4px;
  text-decoration: none;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0 ;
  padding-top: 40px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  outline: none;
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link.pagination-disabled {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #000000;
}
