@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button.button-big {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.page-header {
  background-color: #FFFFFF;
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-logo {
  position: relative;
  display: block;
  width: 140px;
  margin-right: 28px;
}

.page-header-logo {
  position: absolute;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  outline: none;
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::before {
  content: "";
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
}

.main-menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 270px;
  margin: 0;
  padding: 0;
  margin-left: auto;
  list-style-type: none;
}

.main-menu-link {
  position: relative;
  display: block;
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  color: #000000;
}

.main-menu-link:hover,
.main-menu-link:focus {
  outline: none;
  color: #756157;
}

.main-menu-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.main-menu-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: currentColor;
}

.main-menu-icon-label {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 20px;
  top: 11px;
  min-width: 20px;
  height: 20px;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
  color: #FFFFFF;
  border-radius: 10px;
}

.main-menu-button {
  margin-left: 20px;
  padding: 8px 34px;
  background-color: #756157;
}

.main-menu-button:hover,
.main-menu-button:focus {
  background-color: #615048;
}

.main-menu-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  margin-bottom: 69px;
  padding: 51px 0 82px;
  background-image: url(../images/divider.png), url(../images/hero-banner.jpg);
  background-position: bottom center;
  background-size: 100% auto, cover;
  background-repeat: no-repeat, no-repeat;
  background-color: #000000;
}

.hero-logo {
  display: block;
  margin: 0 auto;
}

.advantages {
  margin-bottom: 64px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subtitle {
  margin: 0;
  margin-bottom: 90px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 230px;
  min-height: 205px;
  padding: 90px 85px;
}

.advantages-item-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 60px;
  height: 2px;
  background-color: currentColor;
  opacity: 0.3;
}

.advantages-item.advantages-item-wide {
  display: flex;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item.advantages-square,
.advantages-item.advantages-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-title {
  margin: 0;
  margin-bottom: 62px;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-description {
  margin: 0;
  text-align: center;
}

.advantages-square .advantages-item-description,
.advantages-road .advantages-item-description,
.advantages-tourists .advantages-item-description {
  color: #333333;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.about-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 81px 85px;
  width: 230px;
  min-height: 223px;
}

.about-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.about-subtitle {
  margin: 0;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.about-house,
.about-gifts {
  background-color: rgba(131, 179, 211, 0.12);
}

.about-item-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.about-item-description {
  margin: 0;
  text-align: center;
  color: #333333;
}

.search {
  display: flex;
  flex-direction: column;
  padding-top: 96px;
  padding-bottom: 96px;
}

.search-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-subtitle {
  margin-top: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-link {
  display: block;
  margin: 0 auto;
  background-color: #756157;
}

.search-link:hover,
.search-link:focus {
  background-color: #615048;
}

.search-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer-container {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0 auto;
}

.subscribe {
  width: 1200px;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-index {
  background-image: url(../images/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  color: #FFFFFF;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-subtitle {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  width: 684px;
  margin: 0 auto;
  padding: 0;
}

.subscribe-email {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  background: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}

.subscribe-submit {
  display: block;
  width: 232px;
  font-family: inherit;
  border-radius: 0 4px 4px 0;
  background-color: #82B3D3;
}

.subscribe-submit:hover,
.subscribe-submit:focus {
  outline: none;
  background-color: #68A2CA;
}

.subscribe-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-submit:disabled {
  background-color: #E5E5E5;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  padding: 45px 70px 35px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  position: relative;
  display: block;
  min-width: 24px;
  min-height: 18px;
  padding: 11px 12px;
  color: #83B3D3;;
}

.footer-social-link:hover,
.footer-social-link:focus {
  outline: none;
  color: #68A2CA;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: currentColor;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.footer-phone-link:hover,
.footer-phone-link:focus {
  outline: none;
  color: #756157;
}

.footer-phone-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-copyright-link {
  display: flex;
  align-items: center;
  color: #000000;
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
  outline: none;
  color: #756157;
}

.footer-copyright-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.copyright-icon {
  fill: currentColor;
}

.catalog-header-container {
  padding: 35px 70px 70px;
  background-image: url(../images/header-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
}

.inner-header {
  margin-bottom: 40px;
  color: #FFFFFF;
}

.inner-header-title {
  margin: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 28px;
}

.breadcrumbs-item:not(:last-child)::after {
  content:"";
  position: absolute;
  top: 5px;
  right: -17px;
  width: 8px;
  height: 11px;
  background-image: url('../images/arrow-right.svg');
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filter-form {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-list {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-infrastructure {
  max-width: 150px;
  margin-right: 70px;
}

.catalog-filter-typeofhousing {
  max-width: 150px;
  margin-right: 150px;
}

.catalog-filter-price {
  display: grid;
  margin: 0;
  padding: 0;
  width: 288px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.catalog-filter-legend {
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
}

.control-mark {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-radio {
  position: absolute;
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  outline: none;
  opacity: 0.3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/check.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"]:checked + .control-radio {
  background-image: url("../images/dot.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input:focus + .control-mark {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.control-input:focus + .control-radio {
  outline: 3px solid #83B3D3;
}

.control-input:disabled + .control-mark {
  opacity: 0.3;
}

.control-input:disabled + .control-radio {
  opacity: 0.3;
}

.price-input-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 24px;
  gap: 2px;
}

.price-label {
  display: grid;
  grid-template-columns: 1fr auto;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  padding: 10px 18px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.3);
  border: 2px solid transparent;
}

.price-label:last-child {
  border-radius: 0 4px 4px 0;
}

.price-label:hover {
  background-color: #e6e6e6;
}

.price-label:focus-within {
  outline: 3px solid #83B3D3;
}

.price-label:active {
  border-color: #000000;
}

.price-input {
  all: unset;
  appearance: textfield;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  width: 100%;
  min-width: auto;
}

.price-input::-webkit-outer-spin-button,
.price-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
}

.filter-submit {
  font-family: inherit;
  padding: 8px 50px;
  background-color: #82B3D3;
  margin-bottom: 32px;
}

.filter-reset {
  font-family: inherit;
  padding: 8px 50px;
  background: transparent;
}

.hotels {
  padding: 50px 70px 60px;
}

.sorting-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.hotels-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  width: 292px;
  height: 49px;
  font-family: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #FFFFFF;
  appearance: none;
  background-image: url("../images/selector.svg");
  background-repeat: no-repeat;
  background-position: 260px;
  margin-left: auto;
}

.hotels-select:not(:disabled):hover,
.hotels-select:focus {
  outline: none;
  border-color: #68A2CA;
}

.hotels-select:not(:disabled):active {
  border-color: #3F5E72;
}

.hotels-select:disabled {
  color: #000000;
  border-color: #000000;
  opacity: 0.3;
}

.hotels-view-list {
  display: flex;
  margin: 0;
  margin-left: 70px;
  padding: 0;
  list-style-type: none;
}

.hotel-view-item:not(:last-child) {
  margin-right: 8px;
}

.hotel-view-link {
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 14px;
}

.hotel-view-card-link {
  background-image: url(../images/view-cards.svg);
}

.hotel-view-one-link {
  background-image: url(../images/view-one.svg);
}

.hotel-view-list-link {
  background-image: url(../images/view-list.svg);
}

.hotel-view-link-current {
  border-color: #000000;
}

.hotel-view-link:hover {
  border-color: #000000;
}

.hotel-view-link:focus-visible {
  outline: none;
  border-color: #68A2CA;
}

.hotel-view-link:active {
  border-color: #000000;
}

.hotels-value {
  margin: 0;
  margin-right: auto;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 20px;
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  border-bottom: 1px solid #E6E6E6;
  list-style-type: none;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  width: 300px;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  display: block;
  grid-column: 1/-1;
  text-decoration: none;
}

.hotel-card-image {
  display: block;
  margin-bottom: 16px;
}

.hotel-card-title {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-name,
.hotel-price {
  margin: 0;
  color: #333333;
}

.hotel-price {
  justify-self: end;
}

.hotel-more-information {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  font-family: inherit;
  background-color: #756157;
}

.hotel-more-information:hover,
.hotel-more-information:focus {
  outline: none;
  background-color: #615048;
}

.hotel-more-information:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-add-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  font-family: inherit;
  background-color: #82B3D3;
}

.hotel-add-favorites:hover,
.hotel-add-favorites:focus {
  outline: none;
  background-color: #68A2CA;
}

.hotel-add-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-in-favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
  font-family: inherit;
  background-color: #7DB54F;
}

.hotel-in-favorites:hover,
.hotel-in-favorites:focus {
  outline: none;
  background-color: #6C9E42;
}

.hotel-in-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.rating-stars {
  justify-self: start;
  align-self: center;
}

.hotel-rating {
  display: block;
  margin: 0;
  padding: 9px 22px 8px 23px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
  border-radius: 4px;
  text-decoration: none;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0 ;
  padding-top: 40px;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
  color: #FFFFFF;
  border-radius: 4px;
}

.pagination-link:hover,
.pagination-link:focus {
  outline: none;
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-link.pagination-current {
  outline: none;
  background-color: #F2F2F2;
  color: #000000;
  border: none;
}

.pagination-link.pagination-disabled {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #000000;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 40px;
}

/* .modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  margin: auto;

.modal-container-close {
  display: none;
}

.modal-container-open {
  display: flex;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #FFFFFF;
  border-radius: 30px;
}

.modal-auth {
  padding: 64px 70px;
  border-radius: 50px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  background-position: center;
  background-image: url(../images/close-button.svg);
  background-repeat: no-repeat;
}
.modal-close-button:hover {
  background-color: #E6E6E6;
}
.modal-close-button:focus {
  border: 3px solid #83B3D3;
  background-color: #e6e6e6;
}
.modal-close-button:active {
  opacity: 30%;
  background-color: #E6E6E6;
}

.modal-content {
  margin: 0;
  padding: 0;
}

.modal-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.modal-list-people {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.modal-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 577px;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 28px;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  text-align: left;
}

.modal-item-header {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-right: 20px;
}

.modal-item-human {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.modal-item-child {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  margin-left: 95px;
}

.icon-i {
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #83B3D3;
  border: none;
  position: absolute;
  top: 11px;
  left: 394px;
  transform: translateX(50%);
  cursor: pointer;
}

.icon-i::before {
  content: "i";
  width: 2px;
  height: 12px;
  color: #FFFFFF;
  position: absolute;
  top: 2px;
  left: 11px;
}

.auth-form {
  display: block;
  width: 100%;
}

.auth-form-field {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  height: 48px;
  margin: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
  position: relative;
  background-color: #F2F2F2;
  outline: none;
}

.auth-form-field-people {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  margin: 0;
  width: 440px;
  height: 48px;
  padding: 0;
  border: none;
  border-radius: 2px;
  margin-right: 2px;
  background-color: #F2F2F2;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.auth-form-field::placeholder {
  opacity: 60%;
}

.auth-form-field:hover {
  background-color: #E6E6E6;
}

.auth-form-field:focus {
  background-color: #E6E6E6;
  outline: 1px solid #83B3D3;
}

.auth-form-field:active {
  outline: 1px solid #000000;
}

.auth-form-field-people {
  height: 48px;
  padding: 0;
  margin-left: 46px;
  position: relative;
}

.modal-minus {
  width: 40px;
  height: 46px;
  background-image: url(../images/minus.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  opacity: 30%;
  display: block;
  padding: 0;
  margin: 0;
}

.modal-minus:hover {
  opacity: 1;
}

.modal-minus:focus {
  border-radius: 3px solid #82B3D3;
}

.modal-minus:active {
  opacity: 10%;
}

.modal-plus {
  width: 40px;
  height: 46px;
  background-image: url(../images/plus.svg);
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  opacity: 30%;
  display: block;
  padding: 0;
  margin: 0;
}

.modal-plus:hover {
  opacity: 1;
}

.modal-plus:focus {
  border-radius: 3px solid #82B3D3;
}

.modal-plus:active {
  opacity: 10%;
}

.modal-plus-2 {
  width: 40px;
  height: 46px;
  background-image: url(../images/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  opacity: 30%;
  display: block;
  padding: 0;
  margin: 0;
}

.modal-plus-2:hover {
  opacity: 1;
}

.modal-plus-2:focus {
  border-radius: 3px solid #82B3D3;
}

.modal-plus-2:active {
  opacity: 10%;
}

.modal-minus-2 {
  width: 40px;
  height: 46px;
  background-image: url(../images/minus.svg);
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  opacity: 30%;
  display: block;
  padding: 0;
  margin: 0;
}

.modal-minus-2:hover {
  opacity: 1;
}

.modal-minus-2:focus {
  border-radius: 3px solid #82B3D3;
}

.modal-minus-2:active {
  opacity: 10%;
}

.field {
  background-color: #F2F2F2;
  width: 420px;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 0;
  padding-left: 18px;
}

.field-people {
  width: 110px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  margin-left: 46px;
}

.field-people-2 {
  width: 110px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  margin-left: 82px;
}

.field-group {
  margin: 0;
  padding: 0;
}

.modal-item-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 48px;
  position: relative;
}

.modal-button-search {
  width: 577px;
  height: 60px;
  background-color: #82B3D3;
  border: none;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}

.modal-button-search:hover {
  background-color: #68A2CA;
}

.modal-button-search:focus {
  background-color: #68A2CA;
}

.modal-button-search:active {
  background-color: #68A2CA;
}

.modal-button-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  display: block;
}

.modal-button-text:active {
  opacity: 30%;
}

.error-wrapper {
  color: #FF5757;
  margin: 0;
  margin-left: 137px;
  padding: 0 20px;
}
.error {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.date-actual-wrapper {
  color: #333333;
  margin: 0;
  margin-left: 137px;
  padding: 0 20px;
}

.date-actual {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.foto-date {
  width: 20px;
  height: 20px;
  background-image: url(../images/date-icon.svg);
  background-repeat: no-repeat;
  padding: 0;
  opacity: 30%;
  position: absolute;
  top: 180px;
  right: 92px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.foto-date-too {
  width: 20px;
  height: 20px;
  background-image: url(../images/date-icon.svg);
  background-repeat: no-repeat;
  padding: 0;
  opacity: 30%;
  position: absolute;
  top: 276px;
  right: 92px;
  margin: 0;
  border: none;
  cursor: pointer;
}

.popover {
  content: "";
  position: absolute;
  top: 50px;
  right: 45px;
  z-index: 1;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 256px;
  padding: 15px 18px 18px 22px;
  min-height: 143px;
  border-radius: 10px;
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #FFFFFF;
  -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  display: none;
}

.icon-i:hover + .popover {
  display: block;
}

.popover-text {
  text-align: left;
  margin: 0;
  padding: 0;
}

.popover:before {
  content: "";
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 18px;
  height: 18px;
  background-color: #333333;
  position: absolute;
  top: -8px;
  right: 120px;
}
} */
