@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
}

.button.button-big {
  font-size: 20px;
  line-height: 36px;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  text-decoration: none;
}

.main-menu-button {
  background-color: #756157;
}

.hero {
  background-image: url(/images/hero-banner.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.advantages-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-city,
.advantages-bridge {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-square,
.advantages-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.advantages-item-description {
  text-align: center;
}

.about-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.about-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.about-hotels,
.about-gifts {
  background-color: rgba(131, 179, 211, 0.12);
}

.about-item-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.about-item-description {
  text-align: center;
  color: #333333;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.search-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-link {
  background-color: #756157;
}

.subscribe-index {
  background-image: url(/images/subscribe-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-submit {
  background-color: #82B3D3;
}

.footer-phone-link {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.inner-header {
  background-image: url(/images/header-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #FFFFFF;
}

.catalog-filter-legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.catalog-filter-item {
  line-height: 23px;
}

.filter-submit {
  background-color: #82B3D3;
}

.hotels-value {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
}

.hotel-name,
.hotel-price {
  color: #333333;
}

.hotel-more-information {
  background-color: #756157;
}

.hotel-add-favorites {
  background-color: #82B3D3;
}

.hotel-in-favorites {
  background-color: #7DB54F;
}

.hotel-rating {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  background-color: #F2F2F2;
  color: #333333;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #82B3D3;
  color: #FFFFFF;
}

.pagination-link.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link.pagination-disabled {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  background-color: #FFFFFF;
  color: #000000;
}
